# nudenet
nudenet

# nsfw_model
tensorflow<=2.9.0
tensorflow>=2.2.0;sys_platform != 'darwin'
tensorflow_macos>=2.5.0;sys_platform == 'darwin'
tensorflow-hub==0.12.0
pillow

# avatar_detector
torch
torchvision

# uvicorn app
fastapi 
uvicorn 
fastapi-cors

# protobuf==3.20.1
